html, body {
    margin: 0;
    padding: 0;
}
body {
    background: url('img/back.png') repeat;
}
q {
    font-style: italic;	
}
q::before {
    content: '«\0000A0';
}
q::after {
    content: '\0000A0»';
}

#main {
    margin-top: 50px;
    width: 900px;
}
#main p a, 
#main ul a,
footer a {
    color: #3972AB;
}

#main p a:hover,
#main ul a:hover,
footer a:hover {
    color: #E60703;
}

#main a.primary {
	background-color: #1C79CD;
}

#main .footer {
    margin-bottom: 100px;
}
#main .ffcam {
    float: right;
    margin-top: 8px;
    width: 160px;
}
#main .first {
    margin-top: 1em;
}
#main .banner {
    padding: 0px;
}
.right {
  float: right;
}
.light {
  color: #666666;
}
#main .image-segmente {
  padding: 0;
}
#logo {
  width: auto;
}

.extra p {
	color: rgba(0,0,0,.87);
}

.additional_information {
	margin-left: 2em;
	padding: 1em 1em 0.5em;
	background-color: #e5e4e2;
}
ul.complex li {
	margin-bottom: 0.2em;
}


